/*adding custom font faces with the font-face attribute*/
@font-face {
	font-family: FuturaBold;
	src: url(../fonts/FuturaRound-Bold.ttf);
}
@font-face{
	font-family: FuturaDemi;
	src: url(../fonts/FuturaRound-Demi.ttf);
}
@font-face{
	font-family: FuturaMedium;
	src: url(../fonts/FuturaRound-Medium.ttf);
}
/*set the box model of the browser to border box
set the browser renderer for applicable browsers to optimize the visuals for legibility of text
set the default font as Futura Medium with sans-serif as a fall back
*/
body{
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	margin:0;
	padding: 0;
	/* background-image: linear-gradient(-45deg, #282828 0%, black 100%); */
	background-color: #EFCA54;
	font-family: "FuturaMedium", sans-serif;
	color: #16181C;
}
/*set my own link styling*/
a {
	color: #16181C;
	text-decoration: none;
}

/*set the text highlight color to better suit the aesthetic*/
::selection{
	color: white;
	background: #EFCA54;
}
.orangeBG{
	background-color:#EFCA54;
}
/*set to vary width and height by the browser height and width so the white center stays consistant*/
.whiteInnerBG{
	background-color: white;
	height: 95vh;
	width: 98vw;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -9;

}

.name_linksContainer{
	position: absolute;
	height: 200px;
	width: 1000px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.classYear{
	font-size: 50px;
	font-family: FuturaBold;
}
.fullName{
	font-size: 117px;
	font-family: FuturaMedium;
}
/*set the container to flex to any child is effected and set the direction to row so it goes left to right and wrapping as wrap so at smaller sizes the links wrap back around*/
.linksContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.button{
	margin-right: 46px;
	height: 80px;
	width: 195px;
	border-radius: 38px;
	border: #16181C solid 6px;
	text-align: center;
	font-size: 50px;
	font-family: FuturaDemi;
	line-height: 1.7;
	background-color: white;
}
.mePhoto{
	position: absolute;
	right: 0;
	bottom: 0;
}
.profileImage{
	position: absolute;
	right: 0;
	bottom: 0;
	/* height: 80vh;
	width: 30vw; */
	height: calc(672*.9px);
	width: calc(504*.9px);
	z-index: -8;

}

/*set seperate hover states for different colors*/
.red:hover{
	color: white;
	background-color: #E07070;
}
.blue:hover{
	color: white;
	background-color: #72B5DB;
}
.yellow:hover{
	color: white;
	background-color: #E5E16C;
}

.linksContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
}
.listColumn{
	margin: auto;
	display: flex;
	flex-direction: column;

}
.columnName{
	font-size: 64px;
	font-family: FuturaMedium;
	margin-bottom:70px;
}
.listItem{
	font-size: 32px;
	margin-bottom: 32px;
	font-family: FuturaMedium;
	color: #EA5757;
}
.arrowLeft{
	display: inline-block;
	width: 24px;
	height: 24px;
	opacity: .75;
}
.toHome{
	display: inline-block;
	font-family: FuturaMedium;
	opacity: .75;
	position: absolute;
	left: 88px;
	bottom: 70px;
	font-size: 32px;
}
